:root{
    --header-background: #ffffff;
    --side-background: #1992d4;
    --main-background: #e2e8f0;
    --fs--small: 12.5px;
}
*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

p{
    font-size: var(--fs--small);
    word-wrap: break-word;
}

.container{
    border:3px solid orangered;
    height: 100%;

    display: grid;
    grid-template:
    "side header" 1fr
    "side main" 5fr / 1fr 5fr;
}

header{
    background-color: var(--header-background);
    height: 100%;
    grid-area: header;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: 4fr minmax(200px,1fr);
    grid-auto-flow: row;
}

.searchbar{

}

.notification{

}

.account-info{

}

.dashboard-action{
    
}



aside{
    background-color: var(--side-background);
    height: 100%;
    grid-area: side;
}

section.main{
    background-color: var(--main-background);
    height: 100%;
    grid-area:main;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.projects{
    flex: 4;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding: 1em;
}

.projects ul{
    list-style: none;
}

.projects ul li{
    display: inline-block;
}

.project-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    grid-auto-rows: minmax(200px,min-content);
    gap: 10px;
}

.project-card{
    background-color: white;
    background: linear-gradient(to right, gold 8px, white 0);
    padding:1em;
    border-radius: 8px;
}

.others{
    flex: 1;
    min-width: 300px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.announcements{
    background-color: var(--main-background);
    flex:1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1em 2em;
    gap:10px;
    max-height: 500px;
}

.announcements-cards-container{
    background-color: var(--header-background);
    border-radius: 15px;
    display: grid;
    grid-auto-flow: row;
    padding: 1.2em;
}

.announcements-cards-container span{
    display: inline-block;
    width: 100%;
    border:0.5px solid var(--main-background);
}

.trending{
    background-color: var(--main-background);
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1em 2em;
    gap:8px;
    max-height: 500px;
}

/* section.ad{
    background-color: white;
    height: 100%;
    grid-area:ad;
    background: linear-gradient(to right, gold 3px, white 0);
    border-radius: 3px;
    overflow: visible;
    box-shadow: 1px 1px 4px -3px;
} */


@media (max-width: 450px) {
    .container{
        display: grid;
        grid-template: 
        "header" 2fr
        "main" 5fr
        "side" 1fr / 1fr;
    }
}