*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
}

.container{
    border:3px solid orangered;
    padding: 1em;
    height: 100%;

    display: grid;
    grid-template: 
    "header header header" 1fr
    "side main main" 1fr
    "side ad ad" 1fr
    "footer footer footer" 1fr / 1fr 1fr 2fr;
    grid-auto-flow: row;
    text-align: center;
    align-content: center;
    gap: 10px;
}
.container span{
    background-color: aqua;
    height: 100%;
}

header{
    background-color: rebeccapurple;
    height: 100%;
    grid-area: header;
}

aside{
    background-color: green;
    height: 100%;
    grid-area: side;
    overflow: hidden;
    
}

aside:hover{
    appearance: none;
    overflow: auto;
    scrollbar-base-color: aqua;
}

aside ul{
    list-style: none;
}

aside ul li{
    margin-top: 10px;
}

section.main{
    background-color: red;
    height: 100%;
    grid-area:main;
}

section.ad{
    background-color: orange;
    height: 100%;
    grid-area:ad;
}

footer{
    background-color: aquamarine;
    height: 100%;
    grid-area: footer;
}

.container > *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}